body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.header {
    border-bottom: 2px solid #32b9cd;
}

.container {
    display: flex;
    color: #32b9cd;
    justify-content: space-between;
}

.container ul {
    color: #e3b062;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container {
    align-items: center;
    justify-content: space-around;
}

ul a{
    text-decoration: none;
    color: #e3b062;
}

.agora{
    font-weight: 600;
}

.banner {
    background-image: url("bg-jelly-fish-para-home.png");
    background-size: cover;
    height: 650px;
}

.banner .container {
    height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: 20px;
    
}

.itens_cadastro{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    font-family: monospace;
    border-radius: 4px;
    color: black;
    height: 400px;
    width: 400px;
    font-size: 20px;
   margin: auto;
   margin-top: 40px;
   border-radius: 10px;
   padding: 10px 15px;

}

input {
    border-radius: 2px;
    border: 3px solid #32b9cd;

}

button {
    height: 40px;
    border-radius: 2px;
    border:4px double #32b9cd;
    cursor: pointer;
    margin-top: 15px;
    font-family: monospace;

   
}